<style>

.justifier {
text-align: center;
text-justify: inter-word;
}

.title {
text-align: center;
text-justify: inter-word;
}
</style>


<div class="title"><h2><strong>Bienvenue à Transimo</strong></h2>
  <h4>
    <div class="justifier"><h4>Veuillez entrer les informations neccessaires pour créer votre compte utilisateur.</h4>

    </div>
</h4>
</div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.hidden_field :email ,value: "transimoguest@gmail.com" %>
        <%= f.hidden_field :password ,value: "guests123456" %>
      </div>
      <div class="actions">
<<<<<<< HEAD
          <%= f.submit "Invité(e)s!!! Connectez-vous", class: "btn btn-success" %>||||
=======
          <%= f.submit "Connexion Invité", class: "btn btn-success" %>||||
>>>>>>> a18ee69dace52d41c5220cc7c47d377b2d496544
      </div>
    <% end %>
  </li>

  <li class="nav-item">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.hidden_field :email ,value: "hadi.ibrahima@gmail.com" %>
        <%= f.hidden_field :password ,value: "123456" %>
      </div>
      <div class="actions">
<<<<<<< HEAD
          <%= f.submit "Admin!!! Connectez-vous", class: "btn btn-success" %>
=======
          <%= f.submit "Connexion Admin", class: "btn btn-success" %>
>>>>>>> a18ee69dace52d41c5220cc7c47d377b2d496544
      </div>

  <% end %>
  </li>
    </ul>

<h2>Inscription</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Votre nom d'utilisateur" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@gmail.com' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>

    <% end %><br />
<<<<<<< HEAD
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Au moins 6 caractères" %>
=======
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"6 caractères au moins" %>
>>>>>>> a18ee69dace52d41c5220cc7c47d377b2d496544
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
<<<<<<< HEAD
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Au moins 6 caractères" %>
=======
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"6 caractères au moins" %>
>>>>>>> a18ee69dace52d41c5220cc7c47d377b2d496544
  </div>

  <div class="actions">
    <%= f.submit "Enregistré(e)", class: "btn btn-primary" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
