<style>

.justifier {
text-align: center;
text-justify: inter-word;
}

.title {
text-align: center;
text-justify: inter-word;
}
</style>


<div class="title"><h2><strong>Bienvenue à Transimo</strong></h2>
  <h4>
    <div class="justifier"><h4>Veuillez entrer les informations neccessaires pour vous déconnecter.</h4>

    </div>
</h4>
</div>



<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@gmail.com' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "Actuel mot de passe", placeholder:"Écrivez votre mot de passe actuel" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
