<div class="container">
   <div class="text-center">
<%= form_with(model: product, local: true) do |form| %>


  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <h3><%= form.label :title %></h3>
  <%= form.text_field :title ,class:'fs-16'%>
  </div>



  <div class="field">
  <h3><%= form.label :description %></h3>
    <%= form.text_area :description %>
  </div>


  <div class="field">
  <h3><%= form.label :localisation %></h3>
    <%= form.text_field :localisation %>
  </div>

  <div class="field">
<h3><%= form.label :availability, 'Availability' %></h3>
  <%= form.select :availability,['Free','Immediatly','Notfree'], placeholder: 'Availability' %>
</div>


  <div class="field">
  <h3><%= form.label :remarks %></h3>
    <%= form.text_area :remarks %>
  </div>

  <div class="field">
  <h3><%= form.label :cost %></h3>
    <%= form.text_area :cost %>
  </div>



  <div class="field">
  <h3><%= form.label :image %></h3>
  <%= image_tag(@product.image.url) if @product.image && @product.image.url %>
  <%= form.file_field :image %>
  <%= form.hidden_field :image_cache %>
</div>



  <div class="actions">
    <% if action_name=='new' %>
      <%= form.submit 'Publier Nouveau Produit',class:'btn btn-primary' %> ||
      <%= link_to 'Back', products_path,class:'btn btn-primary' %>
      <% else %>
      <%= form.submit 'Modifier',class:'btn btn-primary' %>
      <% end %>
  </div>
<% end %>


</div>
</div>
