<div class="container shadow">
<h1>Faites vos recherches ici</h1>
        <div class="row py-3">
          <div class="col sm-3">
            <div class="col">
              <%= form_with(url: search_products_path, method: :get, local: true) do |f| %>
                <% if defined? @search_title %>
                <%= f.text_field :search_title, value: @search_title %>
                <% else %>
                <%= f.text_field :search_title, placeholder: 'Type de maison souhaité' %>
                <% end %>
                <% if defined? @search_localisation %>
                <%= f.text_field :search_localisation, value: @search_localisation%>
                <% else %>
                <%= f.text_field :search_localisation, placeholder: 'Localisation souhaitée' %>
                <% end %>
                <% if defined? @search_cost %>
                <%= f.text_field :search_cost, value: @search_cost %>
                <% else %>
                <%= f.text_field :search_cost, placeholder: 'Prix souhaité' %>
                <% end %>
                <%= f.select :search_availability, Product.availabilities.map { |k, v| [k, v] }, class: 'search_availability form-control', prompt: 'Choisir le type de disponibilité'%>
                <%= f.submit 'Lancer Recherche' ,class:'btn btn-light'%>
              <% end %>
            </div>
          </div>
        </div>

<div>
  <%= link_to "Trier par Localité", products_path(localisation_sort: "true") ,class: 'col btn btn-secondary text-light'%> |
  <%= link_to "Trier par Disponibilité", products_path(availability_sort: "true") ,class: 'col btn btn-secondary text-light'%> |
  <%= link_to "Trier par Coût du Loyer", products_path(cost_sort: "true") ,class: 'col btn btn-secondary text-light'%>
  </div>
<br><br>

<h1> LISTE GENERALE DES PRODUITS </h1>  <span><%= link_to 'Ajouter Nouveau Produit', new_product_path, class: 'btn btn-primary text-light' %></span>

<div class="container1 py-3">
<% if @products != nil %>
<table class="table">
 <thead>
   <tr>
     <th>Titre</th>
   <!--  <th>Description</th>-->
     <th>Localisation</th>
     <th>Disponibilité</th>
       <!-- <th>Remarks</th>-->
     <th>Coût du Loyer</th>

     <th>Image du produit</th>
     <th>Auteur</th>


     <th colspan="3"></th>
   </tr>
 </thead>

 <tbody>
   <% @products.each do |product| %>
     <tr>

       <td><%= product.title %></td>
         <!-- <td><%= product.description %></td>-->
       <td><%= product.localisation %></td>
       <td><%= product.availability %></td>
         <!-- <td><%= product.remarks %></td>-->
       <td><%= product.cost %><span>Fcfa</span></td>
       <td><% if product.image.file.nil? %>
         <% else %>
         <%= image_tag product.image.url, class: "im_prod" %></td>
         <% end %>
       <td><%= User.find(product.user_id).name %></td>

          <% if current_user.id == product.user.id %>

        <td><%= link_to 'Modifier', edit_product_path(product), class:'btn btn-warning' %></td>

        <td><%= link_to 'Supprimer', product, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class:'btn btn-danger', id:"delete-btn" %></td>
          <% else %>
        <td><%= link_to 'Voir details et commander', product_path(product.id), class:'btn btn-success' %></td>

        <td><%= link_to 'Ecrire à son diffuseur', conversations_path(sender_id: current_user.id, recipient_id: product.user.id), method: :post, class:'btn btn-warning' %></td>
          <% end %>
     </tr>
   <% end %>
 </tbody>
</table>
<% else %>

   <h3><p>Pas de produit pour votre recherche</p></h3>
<% end %>
</div>
<hr>
    <%= paginate @products, class:"pagination justify-content-center" %>
</div>
